.App {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 0 ;
}
ul{
  list-style-type: none;
}
.App-header {
  background-color: #282c34;
  border: 5px black solid;
  border-radius: 0.1em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

main{
  padding: 0 1em;
  margin-top: 0.5em;
  display: grid;
  grid-template-columns:3fr 1fr;
  grid-row: 1/3;
  grid-column: 1;
}
article{
  margin-top: 1.5em;
}
.logo{
  font-style: italic;
  padding: 1em;
  font-weight: bold;
}
nav ul li{
  list-style: none;
 
}
.nav-items{
display: flex;

}
nav ul li a{
  text-decoration: none;
  margin:10px;
  color: white;
  justify-content:space-evenly;

}

aside{
  display: grid;
  grid-column: 2;
  grid-template-rows: 3;

}

.cards h2{
  
  background-color: #333;
 color: aliceblue;
 margin: 0;
 padding: 0.5em 1em;

}
.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  
} 
.cards li{
  border: 5px black solid;

}
.card{
  padding: 0.5em 1em;

}
.sider{
  background-color: #333;
  border: 5px black solid;
  margin:10px;
  padding: 0.5em 1em;
  color: white;
  display: grid;
  grid-template-rows: 3;
  grid-row: inherit;
}

@media screen and (max-width:400px) {
  main{
    color: red;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-row: 1/3;
    font-size:0.7em;
  grid-column: 1;
  margin: 0;
  }
  .sider{
    grid-column:2;
    grid-row: inherit;
    grid-column: 2;
    font-size:1em;
    margin: 15px;
  grid-template-rows: 3;

  }
}